
* { box-sizing: border-box; }

html, body {
    height: 100%;
}
a, button {
    cursor: pointer;
}

@keyframes fondo {
    100% {background-position: 15% 50%; }
}

body {
    display: grid;
    min-width: 100%;
    place-items: center;
    margin: 0;
    padding: O 24px;
    background-image: url( "../img/stacked-waves-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: 
        fondo 6s infinite alternate linear;
} 

.main{
    width: 550px;
    padding: 10px 5px 10px;
    border-radius: 24px;
    background: #ffffff;
    text-align: center;
}
.form-register{
    background-color: #fff;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    margin-bottom: 15px;
    border-radius: 30px;
    font-family: sans-serif;
    font-size: 1em;
}
.logo-contenedor {
    display: block;
    border-bottom: 1.5px solid #eee;
    margin-bottom: 15px;
}
.logo {
    display: flex;
    width: 40%;
    margin: auto;
    border-radius: 50%;
}


.form {
    width: 100%;
    margin: 0 auto;
    
}
.register {
    text-align: center;
    font-size: 1.2em;
    padding: 0;
    margin-bottom: .5rem;
}
.icon-google {
    display: flex;
    justify-content: center;
}
.button-google {
    background-color: #fff;
    color: #000;
    border: 1px solid#000;
}
.button-google {
    border-radius: 25px;
    height: 40px;
    width: 40px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.button-google img {
    position: relative;
    margin: 15px;
    width: 20px;
    height: 20px;
}
.button-google:hover {
    background-color: rgba(5, 7, 12, 20%);
}
.form_O {
    display: block;
    text-align: center;
}

.input-contenedor{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 10px;
    border-radius: 50px;
    background-color: #eee;
    color: #666;  
}
.input-contenedor input {
    display: block;
    width: 100%;
    padding: 12px 14px;
    margin: .3em 0 .3em 0;
    border-radius: 50px;
    border: none;
    background-color: #eee;
    color: #666;
    
}
.input-contenedor button {
    margin: auto;
    padding: 14px;
    border-radius:0 50px  50px 0;
    border: none;
    background-color: transparent ;
    color: #666;
    font-size: 1em;
    box-shadow: none;
}
.input-contenedor button:hover {
    background-color: #e80d14;
    border: none;
}
.icon {
    width: 20px;
    text-align: inherit;
    color: #555555;
    padding-top: 20px;
    padding-left: 3px;
    
}
.form-option button {
    background-color: #fff;
    border: none;
    color: #ff7629;
}
.form-option a:hover {
    background-color: #eee;
    border: none;
}

.boton {
    margin: auto;
    width: 100%;
    padding: 10px 12px;
    border-radius: 50px;
    margin-bottom: 10px ;
    border: none;
    background-color: #ff7629 ;
    color: #fff;
}
.boton:hover{
    background-color: transparent;
    border: 2px solid #ff7629;
    box-shadow: 0 0 10px 0 #ff7629 inset,
    0 0 10px 4px #ff7629;
    border-radius: 50px;
    color: #ff7629;
}
.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 2em;  
    margin-bottom: 10px;
    text-align: left;
}
#flexCheckChecked{
    color: #ff7629;
    box-shadow: none;
}
input:focus, select:focus, select, input.form-control:focus {

    outline:none !important;

    outline-width: 0 !important;

    box-shadow: none;

    -moz-box-shadow: none;

    -webkit-box-shadow: none;
    background-color: #eee;
}
